*{
    background-color: #000000;
        overflow-x: hidden;
}

.avioncito{
    width: 1.5em;
}
.letras{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.titulos{
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.presentacion{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.icono{
    text-align: center;
    background-color:#43B9D3;
    font-size: 1.5em;
}
.formulario{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.colorfooter{
    background-color: #43B9D3;
}
.footer2{
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}



